<h1>Votre choix</h1>
<ul>
  {{#each model.includedItems as |item|}}
    <li>
      <a href="{{item.url}}"><img src="{{item.image}}" width="400px" height="200px"/></a>
      <p>{{item.title}}</p>
    </li>
  {{else}}
    Sélection vide
  {{/each}}
</ul>

{{#link-to 'listes' class="button"}}
  <button>
    Retour au choix précédent
    {{fa-icon "arrow-circle-left"}}
  </button>
{{/link-to}}
